html{
//background:url(img/giftly.png);
//background:#ddd;
//color: #111;
width: 100%;
height: 100%;
}

header {
    background-color: rgba(196, 61, 63, 0.86);//rgba(217, 62, 66, 0.86);//#D93E42;
    //box-shadow:  0px 0px 5px black;
    z-index: 10;
}

nav {
    display: flex;
    color: #f7f7f7;
    height: 100px;
    width: auto;
    //box-shadow:  0px 0px 10px black;
    z-index: 2;
}

a {
    text-decoration: none;
    color: white;
}

.resume {
    position: absolute;
    order: 2;
    margin-left: 45.5%;//439px;
    margin-top: 33px;
}

.line_r {
    position: absolute;
    //margin-bottom: 6px;
    margin-top: 61px;
    //margin-top: 5px;
    margin-left: 27px;
    width: 100px;
    //width: 220px;
    height: 1px;
    //border-radius: 100px;
    background-color: white;
    //opacity: 0.5;
    //position: absolute;
    opacity: 0;
}

.circle_r {
    width: 5px;
    height: 5px;
    margin-left: 75px;
    margin-top: -15.5px;
    //border-radius: 50%;
    transform: rotate(45deg);
    background-color: white;
    opacity: 0;
} 

h1 > a {
    text-decoration: none;
    color: #f7f7f7;
   // padding: 15px;
}

.resume:hover div.line_r {
    opacity: 1;
    transition: opacity 1s;
}

.resume:hover div.circle_r {
    opacity: 1;
    transition: opacity 1s;
}

nav > .download { 
    order: 1;
    margin-top: 25px;
    margin-left: 85px;
    font-family: arial black;
    font-size: 14px;
    letter-spacing: 1px;
}

.line {
    width: 20px;
    height: 1px;
    background-color: white;
    transform: rotate(90deg);
    opacity: 0;
}

.line.first {
    position: absolute;
    margin-left: -30px;
    margin-top: 30px;
    margin-bottom: -35px;
}

.line.second {
     position: absolute;
    margin-left: 150px;
    margin-top: -30px;
    margin-bottom: -35px;
}

.download:hover div.line.first {
    opacity: 1;
    transition: opacity 1s;
} 

.download:hover div.line.second {
    opacity: 1;
    transition: opacity 1s;
}

nav h1 { 
    //order: 2; 
    //margin-top: 80px;
    font-family: impact;  
    font-size: 30px;
    //margin-left: 460px;
    //font-weight: 100;
    letter-spacing: 1px;
    white-space: nowrap;
}

nav > .print { 
    order: 3; 
    margin-top: 25px;
    margin-left: 70.4%;
    font-family: arial black;
    font-size: 14px;
    letter-spacing: 1px;
}

.line.third {
    position: absolute;
    margin-left: -30px;
    margin-top: 30px;
    margin-bottom: -35px;
}

.line.fourth {
     position: absolute;
    margin-left: 85px;
    margin-top: -30px;
    margin-bottom: -35px;
}

.print:hover div.line.third {
    opacity: 1;
    transition: opacity 1s;
} 

.print:hover div.line.fourth {
    opacity: 1;
    transition: opacity 1s;
}

.triangle{
    position: absolute;
    width: 0px;
    height: 0px;
    border-top: 60px solid #CC5759; //rgba(217, 62, 66, 0.86);
    border-left: 130px solid transparent;
    border-right: 130px solid transparent;
    left: 41.5%;
    //box-shadow:  0px 0px 5px black;
    z-index: 1;
}

body {
    //background-color: #fff; //#EAE5E5;
    //background-image: url(img/p6.png);
    //font-family: Comic Sans;
    //margin: 0 auto;
    width: 1332px;//100%;
    height: 100%;
}

#content {
    padding-top: 55px;
    padding-bottom: 20px;
    display: flex;
    height: auto;
    background-color: #fbfbfb;
    //background-image: url(img/crossword.png);
    z-index: 0;
}

.left_bloc {
    order: 1;
    display: inline-block;
    //position: absolute;
    width: 250px;
    margin-left: 95px;
   // margin-top: 5px;
}

.hr {
    width: 100%;
    height: 1px;
    //border: 1px solid black;
    box-shadow: inset 0px 0px 1px black;
}
/*.line_skills {
    width: 400px;
    height: 4px;
    border-radius: 10px;
    position: absolute;
    left: 625px;
    bottom: 483px;
    box-shadow: inset 0px 0px 15px rgb(226, 226, 226);
   // background-color: red;
} */

/*.left_bloc:hover{
   // background-color: rgba(242, 242, 242, 0.46);
    border-radius: 10px;
    box-shadow: 4px 4px 10px #b1b1b1;
} */

.skills h3, .software h3{
    font-family: arial black;
    font-size: 15px;
    color: white;//#7c7c7c;
    margin-left: 10px;
    background-color: #434343;
    border-radius: 5px;
    padding-left: 15px;
    padding-top: 5px;
    height: 25px;
    //box-shadow: 1px 1px 5px black;
    transform: skew(-10deg);
}

.skills h3 {
    width: 80px;
}

.software h3 {
    width: 113px;
}

.skills ul li {
    margin: 20px 0px 20px -30px;
    font-family: cursive;
   // font-family: Comic Sans;
    font-size: 13px;
    color: #7c7c7c;
}

.download_skil {
    //position: absolute;
    width: 215px;
    height: 20px;
    transform: skew(-35deg);
    background-color: rgba(189, 196, 203, 0.33);
    padding-top: 5px;
    padding-left: 10px;
    color: white;
    box-shadow: inset 1px 1px 5px #c3c3c3;
   // border: 1px solid white;
}

.download_skil.html {
   // background-color: #bf6363;
    //border: 3px solid #ededed;//#cccccc;bf6363
    //animation: width_html 5s infinite;
}

.download_skil.html div {
    position: relative;
    top: -5px;
    left: -10px;
    width: 198px;
    height: 20px;
    background-color: #bf6363;
    padding-left: 10px;
    padding-top: 5px;
    animation: width_html 1s;
    animation-timing-function: ease;
}

@keyframes width_html {
    from {
        width: 50px;
    }
    to {
        width: 198px;
    }
}

.download_skil.css {
    //background-color: #63a3bf;//#639bbf;
   // border: 2px solid #cccccc;//#cccccc;bf6363
}

.download_skil.css div {
    //background-color: #63a3bf;//#639bbf;
    position: relative;
    top: -5px;
    left: -10px;
    width: 155px;
    height: 20px;
    background-color: #bf6363;
    padding-left: 10px;
    padding-top: 5px;
   // animation: width_html 1.5s;
    animation: width_css 1s;
    animation-timing-function: ease-in-out;//cubic-bezier(1.000, 0, 0.750, 0.750);// ease-int
}

@keyframes width_css {
    from {
        width: 50px;
    }
    to {
        width: 155px;
    }
}

.download_skil.JS {
   // background-color: #9cbf63;//#63A814;
}

.download_skil.JS div {
   // background-color: #9cbf63;//#63A814;
    position: relative;
    top: -5px;
    left: -10px;
    width: 130px;
    height: 20px;
    background-color: #bf6363;
    padding-left: 10px;
    padding-top: 5px;
    animation: width_JS 1s;
    animation-timing-function: ease-out;//cubic-bezier(1.000, 0, 0.750, 0.750);// ease-int
}

@keyframes width_JS {
    from {
        width: 70px;
    }
    to {
        width: 130px;
    }
}

hr {
   // box-shadow: 0px 0px 1px black;
}

.download_skil.CSharp  {
   
}


.download_skil.CSharp div {
    position: relative;
    top: -5px;
    left: -10px;
    width: 95px;
    height: 20px;
    background-color: #bf6363;
    padding-left: 10px;
    padding-top: 5px;
    animation: width_CSharp 1s;
    animation-timing-function: ease;//cubic-bezier(0.430, 0, 0.535, 0.545);   // ease-int
}

@keyframes width_CSharp {
    from {
        width: 30px;
    }
    to {
        width: 95px;
    }
}

.download_skil.Cplus  {
   
}

.download_skil.Cplus div {
    position: relative;
    top: -5px;
    left: -10px;
    width: 120px;
    height: 20px;
    background-color: #bf6363;
    padding-left: 10px;
    padding-top: 5px;
    animation: width_Cplus 1s;
    animation-timing-function: linear;//cubic-bezier(0.430, 0, 0.535, 0.545);   // ease-int
}

@keyframes width_Cplus {
    from {
        width: 25px;
    }
    to {
        width: 120px;
    }
}

.download_skil.Java  {
   
}

.download_skil.Java div {
    position: relative;
    top: -5px;
    left: -10px;
    width: 90px;
    height: 20px;
    background-color: #bf6363;
    padding-left: 10px;
    padding-top: 5px;
    animation: width_Java 1s;
    animation-timing-function: ease;//cubic-bezier(0.430, 0, 0.535, 0.545);   // ease-int
}

@keyframes width_Java {
    from {
        width: 40px;
    }
    to {
        width: 90px;
    }
}

.software {
    margin-top: 30px;
}

.software ul li {
    margin: 20px 0px 20px -30px;
    //font-family: Comic Sans;
    font-family: cursive;
    font-size: 13px;
    color: #7c7c7c;
}

/*.OS {
    margin-top: 30px;
}

.OS ul li {
    margin: 20px 0px 20px -30px;
    //font-family: Comic Sans;
    font-family: cursive;
    font-size: 17px;
    color: #7c7c7c;
} */

.about_me {
    order: 2;
    //position: absolute;
    margin-top: 50px;
    margin-left: 175px;
   // right: 210px;
    width: 325px;
    min-width: 325px;
    height: 400px;
    overflow: hidden;
}

.about_me h3 {
    text-align: center;
    font-family: arial black;
    font-size: 18px;
    color: #7c7c7c;
    margin-top: 15px;
}

.my_photo img {
    margin-left: 27%;
    margin-top: 15px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid #fff;
    box-shadow: 0px 3px 20px rgba(0,0,0,.25), inset 0px 2px 0px rgba(255,255,255,.6), inset 0px 0px 20px rgba(0,0,0,.1);
}

.text {
    font-family: cursive;
    //font-family: Comic Sans;
    font-size: 13px;
    color: #7c7c7c;
    margin-left: 25px;
}

.right_bloc {
    order: 3;
    display: inline-block;
    //position: absolute;
    width: 250px;
    margin-left: 145px;
    //margin-right: 118px;
}

.contacts h3, .education h3, .languages h3{
    font-family: arial black;
    font-size: 15px;
    color: white;//#7c7c7c;
    background-color: #434343;
    border-radius: 5px;
    padding-left: 15px;
    padding-top: 5px;
    height: 25px;
    //box-shadow: 1px 1px 5px black;
    transform: skew(-10deg);
    /* text-align: right;
    font-family: arial black;
    font-size: 20px;
    color: #7c7c7c;
    margin-right: 10px; */
}

.contacts h3 {
    width: 111px;
    margin-left: 120px;
}

.education h3 {
    width: 116px;
    margin-left: 120px;
}

.languages h3 {
    width: 121px;
    margin-left: 120px;
}

/*.resume, .download, .print:hover {
    cursor: pointer;
    text-shadow: 1px 1px 10px #eaeaea;
} */

.contacts ul li {
    margin: 20px 0px 20px -30px;
    font-family: cursive;
    font-size: 13px;
    color: #7c7c7c;
}

.contacts ul img {
    position: relative;
    top: 10px;
    margin-right: 15px;
    width: 30px;
}

.education {
    margin-top: 30px;
    font-family: cursive;
    font-size: 13px;
}

.education p {
    color: #7c7c7c;
    line-height: 1.5;
}

.languages {
    margin-top: 30px;
    font-family: cursive;
    font-size: 13px;
}

.languages ul li {
    margin: 10px 45px 15px 30px;
    color: #7c7c7c;
    text-align: right;
    
}

#loading_uk {
    width: 22px;
	height: 22px;
	border: 5px solid #ccc;
	border-top-color: #6ca1d6;
	border-right-color: #6ca1d6;
	border-bottom-color: #6ca1d6;
	border-left-color: #6ca1d6;
    //border-color: #6ca1d6;
	border-radius: 100%;
	text-align: center;
    transform: rotate(45deg);
    margin-left: 170px;
    margin-top: -40px;
}

#loading_uk + span {
    position: absolute;
    color: #7c7c7c;
    margin-left: 176px;
    margin-top: -22px;
    font-size: 9px;
    font-weight: 700;
    font-style:oblique;
}

#loading_en {
    width: 22px;
	height: 22px;
	border: 5px solid #ccc;
	border-top-color: #6ca1d6;
	//border-right-color: #6ca1d6;
	//border-bottom-color: #6ca1d6;
	//border-left-color: #6ca1d6;
   // border-color: #6ca1d6;
	border-radius: 100%;
	text-align: center;
    transform: rotate(45deg);
    margin-left: 170px;
    margin-top: -40px;
}

#loading_en + span {
   position: absolute;
    color: #7c7c7c;
    margin-left: 176px;
    margin-top: -22px;
    font-size: 9px;
    font-weight: 700;
    font-style:oblique;
}

#loading_ru {
    width: 22px;
	height: 22px;
	border: 5px solid #ccc;
	border-top-color: #6ca1d6;
	border-right-color: #6ca1d6;
	border-bottom-color: #6ca1d6;
	//border-left-color: #6ca1d6;
   // border-color: #6ca1d6;
	border-radius: 100%;
	text-align: center;
    transform: rotate(45deg);
    margin-left: 170px;
    margin-top: -40px;
}

#loading_ru + span {
    position: absolute;
    color: #7c7c7c;
    margin-left: 176px;
    margin-top: -22px;
    font-size: 9px;
    font-weight: 700;
    font-style:oblique;
}

footer {
    height: 250px;
    width: auto;
    background-color: rgba(196, 61, 63, 0.86);//rgba(217, 62, 66, 0.86);
    padding-top: 20px;
}

#contact_form{
//    display: flex;
   // border: 1px solid #fff;
    height: 245px;
    width: 300px;
    //position:absolute;
    margin-left: 40%;
    //margin-top: 10px;
    text-align: center;
}

[type="text"], [type="email"] {
    margin-bottom: 6px;
    margin-top: 6px;
    background-color: #cb5052;
    border: 1px solid #c17171;
    color: #fff;
    height: 25px;
    width: 231px;
} 

textarea {
    background: #cb5052;
    border: 1px solid #c17171;
    color: #fff;
    margin-bottom: 6px;
    margin-top: 6px;
    margin-left: 0px;
    height: 90px;
    width: 230px;
    max-height: 100px;
    max-width: 250px;
}

button {
    margin-top: 6px;
    margin-bottom: 6px;
    height: 35px;
    width: 100px;
    background-color: #CC5759;
    border: 1px solid #e5e5e5;
    color: #fff;
    border-radius: 5px;
}

button:hover {
    background-color: #fff;
    color: #CC5759;
    border: 1px solid #fff;
    cursor: pointer;
    box-shadow: 0 0 5px #fff;
    transition: background-color 0.2s;
}

.triangle_second {
    width: 0px;
    height: 0px;
    position: absolute;
    border-bottom: 60px solid #CC5759; //rgba(217, 62, 66, 0.86);
    border-left: 130px solid transparent;
    border-right: 130px solid transparent;
    left: 41.5%;
    margin-top: -4.5%;
    //box-shadow:  0px 0px 5px black;
    z-index: 2;
}

/*.resume:hover {
    cursor: pointer;
    text-shadow: 0px 0px 2px #fff;
} */

.download:hover {
    cursor: pointer;
    //text-shadow: 1px 1px 5px #eaeaea;
}

.print:hover {
    cursor: pointer;
   // text-shadow: 1px 1px 5px #eaeaea;
}